/* Universal styling */
* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

main {
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-left:200px;
    margin-right:200px;
}

#viewhighScores {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    color: rgb(218, 111, 236);
    text-decoration: none;
    font-size: 20px;
}

#time {
    float: right;
    padding-right: 40px;
    padding-top: 20px;
    font-size: 20px;
}

/*First page explaining the quiz and start button */
#quizDirections {
    align-items: center;
    text-align: center;
}

#quizDirections h1 {
    font-size: 40px; 
    padding-top: 50px;
    padding-bottom: 30px; 
}

#startButton {
    border-radius: 10px;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: rgb(58, 10, 86);
    color: #fff;
    font-size: 25px;
    padding: 0px 12px 0px 12px;
}

#startButton:hover {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);      backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

#startButton:hover {
    cursor: pointer;
    background-color: rgb(224, 35, 221);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

/* Question pages */
.questionPage {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#quizQuestion h1 {
    font-size: 65px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 50px;
}

li {
    margin-bottom: 10px;
}

.choiceButton {
    text-align: left;
    background-color: rgb(58, 10, 86);
    color: #fff;
    font-size: 25px;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    width: 400px;
    height: 50px;
}

.choiceButton:hover {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);      backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.choiceButton:hover {
    cursor: pointer;
    background-color: rgb(224, 35, 221);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

#rightWrong {
    font-style: italic;
    font-size: 30px;
    color: gray;
}

/* Final score page */
.finalPage h2 {
    font-size: 40px;
    padding-top: 100px;
    font-weight: bold;
}

#finalScore {
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.finalPage form {
    font-size: 40px;
}

#submitButton {
    text-align: center;
    background-color: rgb(58, 10, 86);
    color: #fff;
    font-size: 20px;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

#submitButton:hover {
    cursor: pointer;
    background-color: rgb(224, 35, 221);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

/* High scores page */
.highScores h2 {
    padding-top: 100px;
    font-weight: bold;
}

.highScores p {
    text-align: left;
    font-size: 25px;
    background-color: rgb(192, 114, 236);
}

#goBack {
    text-align: center;
    background-color: rgb(58, 10, 86);
    color: #fff;
    font-size: 25px;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    width: 125px;
    height: 35px;
}

#clearButton {
    text-align: center;
    background-color: rgb(58, 10, 86);
    color: #fff;
    font-size: 25px;
    padding: 0px 12px 0px 12px;
    border-radius: 10px;
    width: 250px;
    height: 35px;
}

#goBack:hover {
    cursor: pointer;
    background-color: rgb(224, 35, 221);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

#clearButton:hover {
    cursor: pointer;
    background-color: rgb(224, 35, 221);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

/* Hides question page, final score page and high scores page */
.questionPage, .finalPage, .highScores, #rightWrong {
    display: none;
}

